kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8080
        protocol: TCP
      - containerPort: 30443
        hostPort: 8443
        protocol: TCP
    extraMounts:
      - hostPath: /var/lib/longhorn
        containerPath: /var/lib/longhorn
  - role: worker
    extraMounts:
      - hostPath: /var/lib/longhorn
        containerPath: /var/lib/longhorn
