apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: postgres-private-cloud

labels:
  - pairs:
      app.kubernetes.io/name: postgres
      app.kubernetes.io/instance: prod-db
      app.kubernetes.io/component: database
      app.kubernetes.io/part-of: orise-infra
      orise.io/deployment-model: private-cloud

resources:
  # For testing we keep the namespace manually, on production the repo is only one not for branch.
  #- namespace.yaml
  - source.yaml
  - operator.yaml
  - cluster.yaml
