apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nginx-private-cloud

resources:
  - ../base
  - ingress.yaml
  - namespace.yaml

patches:
  - target:
      kind: Deployment
      name: nginx
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
