apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - configmap.yaml
  - secret.yaml
  - cluster.yaml
  # secret.sample.yaml is NOT included here because it is for local use only.
