apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
    app.kubernetes.io/name: nginx
    app.kubernetes.io/version: "v0.0.2"
  annotations:
    deployment.kubernetes.io/revision: "v0.0.2"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        app.kubernetes.io/name: nginx
        app.kubernetes.io/version: "v0.0.2"
    spec:
      containers:
        - name: nginx
          image: ghcr.io/orise-infra/container-catalog/nginx:1.29-alpine
          ports:
            - containerPort: 80
